# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python/venv
.venv/
__pycache__/

# Docker/Reports
reports/
scout-out/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
